.spinner {
  width: 100px;
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i {
  position: absolute;
  top: 0;
  left: 4px;
}
.panel-body.products .table-responsive table thead th.product-image {
  width: 100px;
}
.panel-body.products .table-responsive table tbody tr td img {
  width: 100px;
}
.panel-body.pages .table-responsive table thead th.product-image {
  width: 100px;
}
.panel-body.pages .table-responsive table tbody tr td img {
  width: 100px;
}
#wrapper .navbar-inverse .navbar-collapse .navbar-nav li #shop li.active {
  background-color: #000;
}
