body {
	background-image: url(../img/bg-1.jpg);
	background-repeat: repeat-x;
	background-size: contain;

	#about-page {
		.container {
			margin-top: 160px;

			.title-box {
				background-color: rgba(0, 0, 0, 0.6);
				color: #fff;
				padding: 10px 20px;

				h3 {
					margin: 0;
				}
			}

			.black-box {
				background-color: rgba(0, 0, 0, 0.6);
				color: #fff;
				text-align: justify;
				padding: 30px;
				margin-top: 10px;
			}	
		}
		  	
	}
}