* {
  margin:0;
  padding:0;
  border:0;
}
body {
  font-family:arial, sans-serif;
  background-color:#000000;
}
h1 {
  font-size:2.2em;
}
h2 {
  font-size:2.0em;
}
h3 {
  font-size:1.8em;
}
h4 {
  font-size:1.6em;
}
h5 {
  font-size:1.4em;
}
p {
  font-size:0.9em;
}
header {
  position:absolute;
  width:100%;
  top:45px;
  z-index:1;
  div.header-wrapper {
    min-height:94px;
    background-color:#000000;
    section div.main-navigation {
      background-color:#e68525;
      div#main-menu-container nav ul#main-menu {
        margin-left:85px;

        li {
            a {
                font-weight: bold;
                font-size: 1.3em;
            }
        }
      }
      .navbar-toggle {
              background-color: #D25F0D;

              .icon-bar {
                border-top: 1px solid #fff;
              }
        }
    }
    section div#top-sub-text {
      color:#ffffff;
      height:22px;
      span {
        font-size:0.9em;
        float:left;
        padding-top:3px;
      }
    }
    section div.container > div.bottom-sub-text {
      color:#ffffff;
      height:22px;
      p {
        margin-left:95px;
        font-size:0.8em;
        padding-top:3px;
        margin-bottom:0;
      }
    }
    section div.container > div.secondary-navigation {
      height:22px;
      ul.navbar {
        min-height:1px;
        li {
          display:inline-block;
          padding:0 5px;
          a {
            color:#ffffff;
            font-size:0.9em;
          }
        }
      }
    }
  }
}



#media-section {
padding: 10px 0;
  border-bottom: 1px solid #282828;
  color: #fff;
  background-color: #000;

  .bottom-social-links {
    background-color: #000;
      margin-top: 50px;

      li {
        a {
          color: #fff;
        }
      }
    }
}

#bottom-links-horizontal-1 {
  padding: 10px 0;
  border-bottom: 1px solid #282828;
  margin-bottom: 20px;
  background-color: #000;

  .container {
    .list-inline {
      li {
        a {
          color: #797979;
          font-weight: 100;
        }
      }
    }
  }
}
section#main-container {
  margin-bottom:0;
  div.main-content {
    div#bottom-links-horizontal-1 > div, div#bottom-links-horizontal-2 > div {
      padding:0 50px;
    }
    div.left-container div.page-content {
      min-height:500px;
    }
    div.left-container div.featured-content {
      margin-top:30px;
      div.partners > div p {
        color:#acacac;
        padding:10px 0 0;
        margin:0;
        text-align:center;
        width:140px;
      }
    }
    .official-sites-container {
      background-color: #000;
    }

    div.official-sites-container div.official-sites-content div.content {
      margin-top:20px;
      ul.bottom-list li img.logo {
        width:75px;
      }
      ul.bottom-list li p {
        display:inline-block;
        font:bold 0.8em arial;
        color:#acacac;
      }
      ul.bottom-list li img.img-skybet {
        width:200px;
      }
      .bottom-social-links {
        margin-top: 30px;
      }
      ul.bottom-social-links li {
        padding:25px 3px;
        a {
          color:#fff;
          text-decoration: none;
          font-size:0.9em;
          text-decoration:none;
          i.list-twitter {
            background-position-y:-79px;
          }
          i.list-fb {
            background-position:-28px -79px;
          }
          i.list-rss {
            background-position:-177px -79px;
          }
        }
        a:hover {
          color:#e68525;
        }
        i {
          background:url('../img/sprite-icons/icon_sprites.png' ) no-repeat;
          display:inline-block;
          height:21px;
          width:25px;
          position:relative;
          top:5px;
          left:4px;
          margin-right:4px;
        }
      }
    }
    #bottom-links-horizontal-1 {
      background-color: #000;
    }
    div#bottom-links-horizontal-1 {
      border-top:1px solid #595959;
      border-bottom:1px solid #595959;
      padding:6px 10px 0;
      div ul li a {
        color:#646464;
        font-size:0.8em;
        font-weight:600;
        text-decoration:none;
      }
      div ul li a:hover {
        color:#e68525;
      }
    }
    #bottom-links-horizontal-2 {
      background-color: #000;
    }
    div#bottom-links-horizontal-2 {
      border-bottom:1px solid #595959;
      padding:7px 0;
      div ul {
        margin-bottom:0;
        li p {
          margin-bottom:0;
          font-size:0.9em;
          text-decoration:none;
          color:#646464;
        }
      }
    }
  }
}
footer div.container div.links {
  overflow:hidden;
  > ul.list-inline > li {
    float:left;
    padding:0 15px;
    a {
      color:#797979;
      text-decoration:none;
    }
    a:hover {
      color:#e68525;
    }
    a.heading {
      font-size:0.9em;
      font-weight:600;
      margin-bottom:14px;
      display:block;
    }
    ul.sub-links li a {
      font-size:0.8em;
    }
  }
}
footer div.container div.copyright {
  overflow:hidden;
  width:100%;
  margin:28px 0 60px;
  div p {
    color:#797979;
    font-size:0.8em;
    a {
      color:#797979;
      text-decoration:none;
    }
    a:hover {
      color:#e68525;
    }
  }
}
.float {
  width:100%;
}
.remove-side-padding {
  padding-right:0 !important;
  padding-left:0 !important;
}
.navbar {
  margin-bottom:0;
}
.navbar-nav > li > a {
  text-transform:uppercase;
  color:#000000;
  font-weight:600;
}
.nav {
  > li.active > a, > li > a:focus, > li > a:hover {
    text-decoration:none;
    background:#000000;
    color:#ffffff;
  }
}
.navbar-brand {
  height:17px;
  padding:0 15px;
  > img {
    width:87px;
  }
}
.pagination li a {
  color:#000000;
}
.pagination li a:hover {
  background:#e68525;
  color:#ffffff;
}
.slider-text h3 {
  margin:0;
  font-size: 6em;
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.55);
  padding: 12px 40px;
  float:right;
}